@import "mixins/variables.scss";

.background-ultra-dark{
    background-color: $bg-ultra-dark-color;
    color: $light-font-color;
    background-clip: padding-box;
}

.background-dark{
    background-color: $bg-dark-color;
    background-clip: padding-box;
}

.background-light{
    background-color: $bg-light-color;
    background-clip: padding-box;
}

.background-default{
    background-color: $default-color !important; 
    color: $light-font-color;
    background-clip: padding-box;
}

.background-primary{
    background-color: $primary-color !important; 
    color: $light-font-color;
    background-clip: padding-box;
}

.background-info{
    background-color: $info-color !important; 
    color: $light-font-color;
    background-clip: padding-box;
}

.background-success{
    background-color: $success-color !important; 
    color: $light-font-color;
    background-clip: padding-box;
}

.background-warning{
    background-color: $warning-color !important; 
    color: $light-font-color;
    background-clip: padding-box;
}

.background-danger{
    background-color: $danger-color !important; 
    color: $light-font-color;
    background-clip: padding-box;
}