.col-xs-1, 
.col-xs-2, 
.col-xs-3, 
.col-xs-4, 
.col-xs-5, 
.col-xs-6, 
.col-xs-7, 
.col-xs-8, 
.col-xs-9,
.col-xs-10, 
.col-xs-11, 
.col-xs-12 
{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.smart-scroll-y.col-xs-1, 
.smart-scroll-y.col-xs-2, 
.smart-scroll-y.col-xs-3, 
.smart-scroll-y.col-xs-4, 
.smart-scroll-y.col-xs-5, 
.smart-scroll-y.col-xs-6, 
.smart-scroll-y.col-xs-7, 
.smart-scroll-y.col-xs-8, 
.smart-scroll-y.col-xs-9,
.smart-scroll-y.col-xs-10, 
.smart-scroll-y.col-xs-11, 
.smart-scroll-y.col-xs-12 
{
    padding-right: 5px !important;
}

.row{
    margin-left: -10px !important;
    margin-right: -10px !important;
}