.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.Saturday button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}
.Sunday button span {
    background-color: red;
    border-radius: 32px;
    color: black;
}
.Poyaday button span {
    background-color: yellow;
    border-radius: 32px;
    color: black;
}
.OtherHollyDay button span {
    background-color: wheat;
    border-radius: 32px;
    color: black;
}